<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {% if item %}
                        <h1 class="pull-left">{{ item.title }}</h1>
                        <a href="{{ constant('ROOT_URL') ~ itemUrl ~ item.slug }}" class="btn pull-right">See item</a>
                    {% else %}
                        <h1 class="pull-left">Create item</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if item %}
                <h2>Edit form</h2>
            {% else %}
                <h2>Create form</h2>
            {% endif %}
            <form id="itemForm" action="{{ constant('ROOT_URL') ~ itemSaveUrl }}" method="post" enctype="multipart/form-data">
                {% if item %}
                    <input type="hidden" name="id" value="{{ item.id }}">
                {% endif %}
                <div class="form-group">
                    <label for="title">Title : </label>
                    <input type="text" name="title" class="form-control" value="{{ item.title }}" placeholder="Title" required="required">
                </div>
                <div class="form-group">
                    <label for="shortText">Summary : </label>
                    <textarea name="shortText" id="shortText" rows="10" cols="80" placeholder="Summary">
                        {% if item %}
                            {{ item.shortText }}
                        {% endif %}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="itemContent">Content : </label>
                    <textarea name="itemContent" id="itemContent" rows="10" cols="80" placeholder="Content">
                        {% if item %}
                            {{ item.content }}
                        {% endif %}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Image :</label>
                    <input id="thumbnail" name="thumbnail" type="file" class="form-control">
                    {% if item.image %}
                        <a class="file-link" target="_blank" href="{{ item.image }}">{{ item.image }}</a>
                    {% else %}
                        <p class="file-link">No image</p>
                    {% endif %}
                </div>
                {% if item %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-success pull-right" value="Update">
                    </div>
                {% else %}
                    <div class="form-group">
                        <input type="submit" name="publish" class="btn btn-success pull-right" value="Publish">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<script>
    // Replace the <textarea id="shortText"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'shortText', {
        language: 'fr',
        uiColor: '#ffffff'
    } );
</script>

<script>
    // Replace the <textarea id="itemContent"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'itemContent', {
        language: 'fr',
        uiColor: '#ffffff'
    } );
</script>